@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="page-header">
    <h4 class="page-title">@ViewBag.Title</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h1>Tema Giydirme OK</h1>
            </div>
        </div>
    </div>
</div>